UtilizaServico/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Clientes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AddCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AddCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="GetCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetCliente" message="tns:IClienteService_GetCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetClienteResponse" message="tns:IClienteService_GetCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/AddCliente" message="tns:IClienteService_AddCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/AddClienteResponse" message="tns:IClienteService_AddCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/AddCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:8080/cliente" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>